@charset "EUC-KR";

#login {
	position: relative;
	top: 10;
	left: 1000;
	width: 10em;
	height: 10em;
	background-color: black;
}

a {
	text-decoration: none;
}

@font-face {
	font-family: "babylove";
	src: url('../fonts/babylove.ttf');
}

#showLoginMember {
	position: fixed;
	width: 10em;
	height: 10em;
	top: 0px;
	right: 0px;
	color: black;
	font-family: "babylove";
	z-index: 9999;
}

