#thumbnail {
	width: 100px;
	hight: 100px;
}

textarea {
	resize: none;
}

img #img_reg {
	width: 20em;
	hight: 20em;
}

.poptrox-popup #update {
	-moz-transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	background-image: url("images/updateIcon.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 3em;
	height: 5em;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 5em;
	z-index: 3;
}